body {
	scrollbar-arrow-color: #9E001C;
	scrollbar-base-color: #FDFDDA;
	scrollbar-face-color: #FDFDDA;
	scrollbar-highlight-color: #D3D3D3;
	background-color: #FFFFF2;
}

div.multiMediaDiv{
	padding:10px;
	
	border: thin solid silver;
	width: expression( document.body.clientWidth > 319 ? '320px' : '1px' ); 
	max-width: 320px;
	
}
div.multiMediaDiv img{
	width: expression( document.body.clientWidth > 319 ? '320px' : 'auto' ); 
	max-width: 320px;
	margin:0.67em;
	
}